/* ----------------------------------------- COMPONENT ----------------------------------------- */
img{
  width: 120px;
}
.section{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 100px !important;
  margin: 0 auto;
}
.button{
  background: #087ea4;
}
.button:hover{
  background-color: #368cb1;
}
.sec{
background-color: #eeeff3 !important;
}